{% extends "layout.html" %}

{% block title %}
    User Profile - {{ user.username }}
{% endblock %}

{% block content %}
    <div class="header">
        <h1>{{ user.username }}'s Profile</h1>
        <a href="{{ url_for('profile_views.settings') }}">Settings</a>

    </div>
    <div class="container">
        <div class="friends-list">
            <h2>Friends</h2>
            <ul>
                {% for friend in user.friends %}
                    <li><div class="circle"></div>{{ friend.username }}</li>
                {% else %}
                    <li>No friends yet.</li>
                {% endfor %}
            </ul>
            <div class="add-friend-wrapper">
                <form method="post" action="{{ url_for('profile_views.add_friend') }}">
                    <input type="text" name="friend_username" placeholder="Enter username">
                    <button type="submit">Add friend</button>
                </form>
            </div>
        </div>
        
        <!-- Add a new div wrapper around the message-area and message-box -->
        <div class="chat-container">
            <div class="message-wrapper">
                <div class="message-content">
                    <div class="previous-messages-wrapper">
                        {% for message in messages %}
                        <div class="bubble{% if message.sender_id == user.user_id %} sent user1{% else %} received user2{% endif %}">
                            <div class="message{% if message.sender_id == user.user_id %} sent{% else %} received{% endif %}">
                              {{ message.content }}
                            </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="message-box">
                    <form id="message-form" method="post" action="{{ url_for('profile_views.send_message') }}">
                        <select id="recipient_username" name="recipient_username" class="recipient-select" style = "display: none;">
                            {% for friend in user.friends %}
                                <option value="{{ friend.username }}">{{ friend.username }}</option>
                            {% endfor %}
                        </select>
                        <input id="content" class="message-input" type="text" placeholder="Type your message...">
                        
                    </form>
                </div>
            </div>
        </div>        
    <script src="{{ url_for('static', filename='profile.js') }}"></script>
{% endblock %}
