{% extends 'layout.html' %}

{% block title %}
  Register
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">

<h1 class="title is-1">Register</h1>
  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}
  <form class="box" method="POST">
    <div class="field">
      <label class="label" for="user_name">Username</label>
      <div class="control">
        <input class="input" type="text" name="user_name" placeholder="username" required>
      </div>
    </div>
  
    <div class="field">
      <label class="label" for="password">Password</label>
      <div class="control">
        <input class="input" type="password" name="password" placeholder="********" required>
      </div>
    </div>
  
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="submit">Register</button>
      </div>
      <div class="control">
        <button class="button is-text" type="reset">Cancel</button>
      </div>
    </div>
  </form>
  
{% endblock %}

